@import "src/styles/values";

.services-models {
  display: flex;

  background: $black;
  padding: 0 1.542vw 0vw 7.292vw;

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 37.083vw;

    padding-top: 13vw;
  }

  .model-container {
    position: relative;

    .model {
      padding-top: 10%;
      padding-bottom: 35%;
      position: sticky;
      top: 2%;

      &.active {
        //display: flex;
        visibility: initial;
      }
    }
  }
}

@media (max-width: 768px) {
  .services-models {
    padding: 0 $mob-side-padding 80.562vw;

    .services-container {
      //gap: 251.908vw;
      width: 100%;
      z-index: 9;

      .design-section {
      }

      .development-section {
      }

      .brand-ident-section {
      }
    }
    .model-container {
      display: none;
      position: fixed;
      top: 30%;
      z-index: 0;
    }
  }
}