@import "src/styles/values";

.services-models {
  display: flex;

  background: $black;
  padding: 0 1.542vw 0vw 1.542vw;

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 37.083vw;

    padding-top: 13vw;
  }

  .model-container {
    position: relative;

    .model {
      padding-top: 10%;
      padding-bottom: 35%;
      position: sticky;
      top: 2%;

      &.active {
        //display: flex;
        visibility: initial;
      }
    }
  }
}