@import '../../../styles/values';

.lets-chat {
  position: fixed;
  right: 2.083vw;
  bottom: 2.083vw;

  display: flex;
  padding: 1.823vw 3.75vw;
  width: fit-content;
  justify-content: center;
  align-items: center;

  border-radius: 4.688vw;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4.089vw);

  cursor: pointer;

  z-index: 700000;

  transition: 0.5s;

  &--hide {
    transform: translateX(160%);
  }

  span {
    color: $white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media(max-width: 768px) {
  .lets-chat {
    left: 50%;
    bottom: 8.142vw;

    border-radius: 22.901vw;
    padding: 5.99vw 0;
    transform: translateX(-50%);
    width: 88.295vw;

    &--hide {
      transform: translateX(160%);
    }

    span {
      font-size: 5.089vw;
    }
  }
}