@import 'src/styles/values';

.lets-chat {
  position: fixed;
  right: 2.083vw;
  bottom: 2.083vw;

  display: flex;
  padding: 1.823vw 3.75vw;
  width: fit-content;
  justify-content: center;
  align-items: center;

  border-radius: 4.688vw;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4.089vw);

  cursor: pointer;

  z-index: 700000;

  transition: 0.5s;

  &--hide {
    transform: translateX(160%);
  }

  span {
    color: $white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media(max-width: 768px) {
  .lets-chat {
    right: 6vw;
    bottom: 8.142vw;

    border-radius: 22.901vw;
    width: 88.295vw;
    height: 18.066vw;

    overflow: hidden;

    &--hide {
      transform: translateX(160%);
    }

    span {
      white-space: nowrap;
      visibility: initial;
    }

    &--short {
      right: 6vw;
      width: 18.066vw;

      &::before {
        content: ""; /* Required to display the pseudo-element */
        display: block; /* Ensures the pseudo-element takes up space */
        position: absolute; /* Adjust positioning as needed */
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width:6.142vw;
        height: 6.142vw;
        background-image: url('/images/svg/lets-chat-arrow.svg');
        background-size: cover; /* Adjust as needed */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center; /* Adjust as needed */
      }

      span {
        visibility: hidden;
      }
    }

    span {
      font-size: 5.089vw;
    }
  }
}