@import '../../styles/values.scss';

.glob {
  padding: 0 2.083vw 2.083vw;
  background-color: $black;

  .glob-bg {
    position: relative;
    display: flex;
    height: 41.927vw;
    width: 100%;

    background-image: url('/frant-landing/images/componets/glob/globBg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .glob-info {
      display: flex;
      align-items: flex-end;
      gap: 1.042vw;
      padding: 0 0 3.229vw 3.229vw;

      .glob-text-code {
        display: flex;
        flex-direction: column;
        gap: 0.781vw;
        width: 48.073vw;

        .glob-text {
          display: flex;
          flex-direction: column;
          gap: 1.563vw;

          h1 {
            color: $black;
            font-family: "Unbounded", sans-serif;
            font-size: 4.375vw;
            font-weight: 900;
            line-height: normal;
          }

          > div {
            min-height: 15.625vw;
          }

          p {
            color: #343434;
            text-align: justify;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 1.719vw;
            font-style: normal;
            font-weight: 500;
            line-height: 153%; /* 50.49px */
          }

          .space-text {
            display: flex;
            justify-content: space-between;

            span {
              color: #343434;
              font-family: "Plus Jakarta Sans", sans-serif;
              font-size: 1.719vw;
              font-weight: 700;
              line-height: 153%;
            }
          }
        }

        .glob-code {
          position: relative;
          overflow: hidden;

          &:before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;

            width: 100%;
            height: 100%;

            transition: 3s 5s;
          }

          &.active {
            &:before {
              transform: translateX(100%);
            }
          }

          img {
            width: 100%;
          }
        }
      }

      .glob-time {
        position: relative;
        overflow: hidden;

        &:before {
          content: "";

          position: absolute;
          top: 0;
          left: 0;
          background-color: $white;

          width: 100%;
          height: 100%;

          transition: 1s 7s;
        }

        &.active {
          &:before {
            transform: translateY(-100%);
          }
        }

        .time-n-date {
          display: flex;
          flex-direction: column;
          padding: 0.1vw 0;
          gap: 0.938vw;

          span {
            color: #1E1E1E;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-size: 2.031vw;
            font-style: normal;
            font-weight: 250;
            line-height: 1;
          }
        }
      }
    }

    .glob3d-container {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 53%;
      right: 1.5%;
      z-index: 20;

      transform: translate(0%, -50%);

      cursor: grab !important;
    }
  }
}

@media (max-width: 768px) {
  .glob {
    padding: 0 $mob-side-padding $mob-side-padding;
    .glob-bg {
      flex-direction: column;
      height: 220vw;
      background-image: url('/frant-landing/images/componets/glob/globBgMobile.svg');
      background-size: contain;

      .glob-info {
        padding: 10.178vw 10.178vw 0 10.178vw;

        .glob-text-code {
          width: 100%;

          .glob-text {
            gap: 5.042vw;


            h1 {
              font-size: 14.997vw;
            }

            > div {
              display: flex;
              flex-direction: column;
              gap: 5.042vw;
            }

            p {
              font-size: 4.58vw;
            }

            .space-text {
              span {
                font-size: 6.107vw;
              }
            }
          }

          .glob-code {
            display: none;
          }
        }

        .glob-time {
          display: none;
          .time-n-date {
            padding: 0.1vw 0;
            gap: 0.938vw;

            span {
              font-size: 2.031vw;
            }
          }
        }
      }

      .glob3d-container {
        top: unset;
        bottom: -4%;
        right: 51%;
        z-index: 20;

        height: 101.781vw;
        width: 101.781vw;

        transform: translate(50%, 0%);
        //background-color: red;

        .main-model {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

}