@import "/src/styles/values";

.frant-section {
  height: 400vh;
  padding: 0 2.24vw 4.844vw 2.24vw;
  background-color: $black;

  .frant-section-bg {
    position: sticky;
    top: 0;

    display: flex;
    width: 100%;
    height: 100vh;
    padding: 46px 0px 55px 0px;
    align-items: center;
    flex-shrink: 0;

    border-radius: 4.688vw;
    background: $white;
    overflow: hidden; // Ensure no overflow

    span {
      color: $black;
      font-family: Unbounded, sans-serif;
      font-size: 62.5vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      transition: transform 0.1s ease; // Optional: adds smoothness
    }
  }
}
