@import "/src/styles/values";

.design-section {
  .design-container {
    display: flex;

    .service-info-container {
      .service-info {
        .title {
          h3 {
            background: linear-gradient(92deg, #FFF 33.96%, #BCED09 60.51%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}