@import "/src/styles/values";

.development-section {
  .development-container {
    display: flex;

    .service-info-container {
      display: flex;
      flex-direction: column;
      gap: 1.094vw;

      .service-info {
        .title {
          h3 {
            background: linear-gradient(92deg, #FFF 33.96%, #00DAE6 90.51%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}