@import "/src/styles/values";

.development-section {
  .development-container {
    display: flex;
    justify-content: flex-end;

    .service-info-container {
      display: flex;
      flex-direction: column;
      gap: 1.094vw;

      .service-info {
        .title {
          h3 {
            background: linear-gradient(267deg, #FFF 67.89%, #00DAE6 110.12%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}