@import "/src/styles/values";

.service-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.094vw;

  .service-info {
    .title {
      h2 {
        font-family: Unbounded, sans-serif;
        font-size: 6.667vw;
        font-style: normal;
        font-weight: 800;
        line-height: 112.93%; /* 138.15px */
      }
    }

    .description {
      width: 30vw;

      p {
        color: #EEEAE4;
        text-align: justify;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 1.563vw;
        font-style: normal;
        font-weight: 500;
        line-height: 185%; /* 55.5px */
      }
    }
  }

  .service-ident-button {
    display: flex;
    width: fit-content;
    align-self: flex-end;
    padding: 0.781vw 2.135vw;
    align-items: center;
    gap: 0.885vw;

    border-radius:  90vw;
    border: 0.208vw solid $white;

    transition: .3s;
    cursor: pointer;

    span {
      color: $white;
      font-family: "Fixel Display", sans-serif;
      font-size: 1.354vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    svg {
      width: 3.49vw;
      height: 2.552vw;
    }

    &:hover {
      span {
        color: $black;
      }

      svg {
        path {
          fill: $black;
        }
      }
      background: $white;
    }
  }
}



@media (max-width: 768px) {
  .service-info-container {
    width: fit-content;
    gap: 4.835vw;
    margin: 0 auto;

    .service-info {
      gap: 9.415vw;

      .title {
        h2 {
          font-size: 17.048vw;
        }
      }

      .description {
        width: 79.135vw;

        p {
          font-size: 6.107vw;
        }
      }
    }

    .service-ident-button {
      padding: 2.88vw 7.634vw;
      border: 0.763vw solid $white;
      align-self: flex-start;

      span {
        font-size: 4.992vw;
      }

      svg {
        width: 8.061vw;
        height: 9.407vw;
      }
    }
  }
}