@import "/src/styles/values";

.checkboxes {
  display: flex;
  gap: 2.135vw;

  label {
    display: flex;
    height: 3.177vw;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding-right: 0.833vw;
    cursor: pointer;

    transition: .3s;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 3.177vw;
      background: $primary;
      transition: .3s;

      svg {
        width: 1.667vw;
        height: 1.667vw;
      }
    }

    span {
      transition: .3s;

      color: $black;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 600;
      line-height: 107.93%; /* 25.903px */
    }

    &.active {
      background: $black;

      .icon {
        background: $black;
      }

      span {
        color: $white;
      }
    }
  }
}