$black: #0A0A0A;
$white: #EEEAE4;
$primary: #C3B8A3;
$grey: #C0C0C0;
$mob-side-padding: 5.852vw;

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText-SemiBold.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
}