@import "/src/styles/values";

footer {
  position: fixed;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $white;


 .footer-form {
   width: 71.458vw;
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);

  .footer-form-title {
    h5 {
      color: $black;
      font-family: Unbounded, sans-serif;
      font-size: 3.333vw;
      font-style: normal;
      font-weight: 600;
      line-height: 107.93%; /* 69.075px */

      margin-bottom: 1vw;
    }

    p {
      color: $black;
      font-family: "FixelText", sans-serif;
      font-size: 1.667vw;
      font-style: normal;
      font-weight: 700;
      line-height: 107.93%; /* 34.538px */

      margin-bottom: 3.125vw;
    }
  }

   form {
     display: flex;
     flex-direction: column;

     gap: 50px;

    .inputs-text-area-container {
      display: flex;
      justify-content: space-between;
      gap: 1.823vw;

      .inputs-container {
        display: flex;
        flex-direction: column;
        gap: 1.771vw;

        .company-first-name {
          display: flex;
          gap: 1.566vw;
        }

        .email {
          width: 80%;
        }

        .mobile {
          width: calc(50% - 1.566vw);
        }
      }

      .text-area-container {
        display: flex;
        flex-direction: column;
        min-width: 27.188vw;
        align-items: flex-start;
        gap: 0.685vw;

        span {
          color: #1F1F1F;
          font-family: "FixelText", sans-serif;
          font-size: 1.174vw;
          font-style: normal;
          font-weight: 800;
          line-height: 107.93%; /* 24.334px */
        }

        textarea {
          padding: 1.094vw 0.833vw;
          width: 100%;
          height: 100%;

          border: none;
          outline: none;
          resize: none;
          background: #D1CBBE;


          color: $black;
          font-family: "FixelText", sans-serif;
          font-size: 1.042vw;
          font-style: normal;
          font-weight: 700;
          line-height: 185%;

          transition: .3s;

          &.active {
            background: $black;

            color: $white;
          }
        }
      }
    }

     .input-checkbox-sent {
       width: 100%;
       display: flex;
       justify-content: space-between;

       .sent {
         display: flex;
         padding: 0 1.25vw 0 1.25vw;
         justify-content: center;
         align-items: center;
         gap: 0.938vw;

         background: $primary;
         cursor: pointer;


         span {
           color: $white;
           font-family: "FixelText", sans-serif;
           font-size: 1.25vw;
           font-style: normal;
           font-weight: 800;
           line-height: 107.93%; /* 25.903px */
         }

         svg {
           height: 1.667vw;
           width: 1.667vw;

           path {
             fill: $white;
           }
         }

         transition: .3s;

         &.active {
           background-color: $black;

           span {
             color: $white;
           }

           svg {
             path {
               fill: $white;
             }
           }
         }
       }
     }
   }
 }

  .credential {
    position: absolute;
    bottom: 0;
    padding: 2.083vw;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .links {
      display: flex;
      align-items: flex-end;
      gap: 20px;

      a {
        color: $black;
        font-family: "FixelText", sans-serif;
        font-size: 1.042vw;
        font-style: normal;
        font-weight: 500;
        line-height: 185%;

        transition: .3s;
        cursor: pointer;
      }

      .soc {
        display: flex;
        flex-direction: column;
        gap: 0.521vw;

        .linked-in:hover {
          color: #0A66C2;
        }

        .behance:hover {
          color: #1769FF;
        }

        .telegram:hover {
          color: #2AABEE;
        }

        .email:hover {
          color: $primary;
        }
      }

      > a:last-child:hover {
        color: $primary;
      }
    }

    .all-rights {
      span {
        color: #383838;
        font-family: "FixelText", sans-serif;
        font-size: 0.99vw;
        font-style: normal;
        font-weight: 500;
        line-height: 185%; /* 35.15px */
      }
    }
  }
}

.message-log {
  position: fixed;
  right: 2.344vw;
  bottom: 2.604vw;
  z-index: 99999;
  width:37.448vw;

  flex-direction: column;
  gap: 2.031vw;
  padding: 1.927vw 1.146vw 1.146vw;

  background: $black;
  display: none;

  &.active {
    display: flex;
  }

  .message-loading {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
    padding: 0 1.042vw;

    span {
      color: $white;
      font-family: Unbounded, sans-serif;
      font-size: 2.083vw;
      font-style: normal;
      font-weight: 600;
      line-height: 107.93%; /* 43.172px */
    }

    p {
      color: $white;
      font-family: "FixelText", sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 500;
      line-height: 107.93%; /* 25.903px */
    }
  }

  .line {
    height: 0.625vw;
    width: 100%;

    background-color: #D9D9D9;

    animation: 5s fade-in ease-in;
  }

  @keyframes fade-in {
    0% {
      width: 100%;

    }

    100% {
      width: 0;
    }
  }

  .close {
    position: absolute;
    top: 1.146vw;
    right: 1.146vw;

    cursor: pointer;
  }
}

@media (max-width: 768px) {
  footer {
    position: relative;
    height: auto;

    display: flex;
    flex-direction: column;

    padding-top: 35.369vw;
    gap: 50.891vw;

    .footer-form {
      width: 90vw;
      position: initial;
      top: 50%;
      left: 50%;

      transform: initial;

      .footer-form-title {
        h5 {
          font-size: 11.45vw;
          margin-bottom: 4.835vw;
        }

        p {
          font-size: 5.823vw;
          margin-bottom: 12.977vw;
        }
      }

      form {
        gap: 12.723vw;

        .inputs-text-area-container {
          gap: 9.924vw;
          flex-direction: column;

          .inputs-container {
            gap: 9.924vw;

            .company-first-name {
              flex-direction: column;
              gap: 6.87vw;
            }

            .email {
              width: 100%;
            }

            .mobile {
              width: 100%;
            }
          }

          .text-area-container {
            display: none;
            min-width: 27.188vw;
            gap: 0.685vw;

            span {
              font-size: 1.174vw;
            }

            textarea {
              padding: 1.094vw 0.833vw;
              font-size: 7.125vw;
            }
          }
        }

        .input-checkbox-sent {
          flex-direction: column;
          gap: 8.906vw;

          .checkboxes {
            .column {
              label {
                width: 65.394vw;
              }
            }
          }

          .sent {
            padding: 5.089vw 4.58vw;
            gap: 4.938vw;

            span {
              font-size: 6.107vw;
            }

            svg {
              width: 6.142vw;
              height: 6.142vw;

              path {
              }
            }

            &.active {

              span {
              }

              svg {
                path {
                }
              }
            }
          }
        }
      }
    }

    .credential {
      display: flex;
      flex-direction: column;

      position: relative;
      padding: $mob-side-padding;
      align-items: flex-start;

      gap: 16px;

      .links {
        gap: 5.089vw;

        a {
          font-size: 4.389vw;
        }

        .soc {
          gap: 0.521vw;
        }
      }

      .all-rights {
        span {
          font-size: 4.835vw;
        }
      }
    }
  }

  .message-log {
    right: 5.97vw; // 2.344vw adjusted for 375px width
    bottom: 6.94vw; // 2.604vw adjusted for 375px width
    width: 75vw; // 37.448vw adjusted for 375px width

    gap: 5.41vw; // 2.031vw adjusted for 375px width
    padding: 5.14vw 3.05vw 3.05vw; // 1.927vw and 1.146vw adjusted

    .message-loading {
      gap: 2.78vw; // 1.042vw adjusted for 375px width
      padding: 0 2.78vw; // 1.042vw adjusted

      span {
        font-size: 7.56vw; // 2.083vw adjusted
      }

      p {
        font-size: 4.33vw; // 1.25vw adjusted
      }
    }

    .line {
      height: 1.27vw; // 0.625vw adjusted
    }

    .close {
      top: 3.05vw; // 1.146vw adjusted
      right: 3.05vw; // 1.146vw adjusted
    }
  }
}