@import '../../styles/values.scss';

@keyframes infiniteScroll {
  from {transform: translate(-100%, -50%);}
  to {transform: translate(0%, -50%);}
}

@keyframes infiniteScroll-2 {
  from {transform: translate(0%, -50%);}
  to {transform: translate(100%, -50%);}
}

.container {
  display: flex;
  overflow: hidden;
  position: relative;

  height: 3.75vw;

  border-top: 4px solid var(--Grey, #C0C0C0);
  border-bottom: 4px solid var(--Grey, #C0C0C0);
  background-color: $black;

  margin-bottom: 15.052vw;
}

.horizontal-scrolling-items {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  font-size: 40px;
  width: 100vw;
  animation-name: infiniteScroll;
  transform: translate(-50%, -50%);
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;

  .item {
    display: flex;
    align-items: center;
    margin-left: auto;

    span {
      color: $white;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.146vw;
      font-style: normal;
      font-weight: 500;
      line-height: 153%; /* 33.66px */
    }

    svg {
      width: 4.115vw;
      height: 1.042vw;
    }
  }

  &.second {
    animation-name: infiniteScroll-2;
  }
}



@media (max-width: 768px) {
  .container {
    height: 11.705vw;
    border-top: 1.018vw solid var(--Grey, #C0C0C0);
    border-bottom: 1.018vw solid var(--Grey, #C0C0C0);
    margin-bottom: 15.052vw;
  }

  .horizontal-scrolling-items {
    font-size: 10.178vw;

    .mob {
      display: none;
    }

    .item {
      span {
        font-size: 3.562vw;
      }

      svg {
        width: 13.232vw;
        height: 3.053vw;
      }
    }
  }
}
