@import "/src/styles/values";

main {
  position: relative;
  z-index: 10;
  background-color: $black;
}

.spacer {
  margin-bottom: 100vh;
  padding-bottom: 100vh
}


body {
  scrollbar-width: none;
}

::selection {
  background-color: $white; /* Колір фону під час виділення */
  color: $black; /* Колір тексту під час виділення */
}



/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* IE and Edge */
}
