main {
  position: relative;
  z-index: 10;
}

.spacer {
  margin-bottom: 100vh;
  padding-bottom: 100vh;
}


body {
  scrollbar-width: none;
}


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* IE and Edge */
}
