@import "/src/styles/values";

.brand-ident-section {
  padding-bottom: 15.625vw;
  .brand-ident-container {
    display: flex;

    .service-info-container {
      display: flex;
      flex-direction: column;

      .service-info {
        .title {
          h3 {
            background: linear-gradient(92deg, $white 60.96%, #E61717 80.51%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .brand-ident-section {
    width: 100%;
    .brand-ident-container {
      width: 100%;
      .service-info-container {
        .service-info {
          .title {
            h3 {
              font-size: 13.232vw;
            }
          }
        }
      }
    }
  }
}