@import "/src/styles/values";

.frant-section {
  height: 300vh;
  padding: 0 2.083vw 4.844vw;
  background-color: $black;

  .frant-section-bg {
    position: sticky;
    top: 0;

    display: flex;
    width: 100%;
    height: 100vh;
    padding: 46px 0px 55px 0px;
    align-items: center;
    flex-shrink: 0;

    border-radius: 4.688vw;
    background: $white;
    overflow: hidden; // Ensure no overflow

    span {
      color: $black;
      font-family: Unbounded, sans-serif;
      font-size: 62.5vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

@media (max-width: 768px) {
  .frant-section {
    padding: 0 $mob-side-padding 19.338vw;

    .frant-section-bg {
      display: flex;
      align-items: initial;

      border-radius: 10.688vw;

      span {
        height: fit-content;
        //transition: 1s;
        transform: rotate(90deg) translateX(-16%) translateY(-33%) ;
        transform-origin: left;
        font-size: 105.709vw;
        //font-size: 105.709vw;
      }
    }
  }
}