@import "/src/styles/values";

.check-section {
  gap: 5.052vw;
  padding: 0 0 15.052vw 0;
  background-color: $black;

  .check-section-price {
    display: flex;
    justify-content: center;
    margin-bottom: 5.052vw;

    h3 {
      color: $white;
      font-family: Unbounded, sans-serif;
      font-size: 4.271vw;
      font-style: normal;
      font-weight: 600;
      line-height: 6.302vw;
    }
  }
}

@media (max-width: 768px) {
  .check-section {
    padding: 0 0 76.336vw 0;
    background-color: $black;

    .check-section-price {
      margin-bottom: 14.758vw;

      h3 {
        text-align: center;
        font-size: 12.415vw;
        line-height: 11.705vw;
      }
    }
  }
}