@import "src/styles/values";

$delay: 0.2;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  padding:  2.083vw 2.083vw 0;

  mix-blend-mode: difference;
  transition: .3s;

  &--hide {
    transform: translateY(-100%);
  }

  .logo {
    svg {
      width: 2.656vw;
      height: 4.167vw;
      cursor: pointer;
    }
  }

  nav {
    display: flex;
    gap: 3.542vw;

    a {
      color: var(--White, #EEEAE4);
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      transform: translateY(-400%);
      animation: drop-down 0.8s forwards;
      cursor: pointer;

      &:first-child {
        animation-delay: $delay;
      }

      &:nth-child(2) {
        animation-delay: $delay * 2s;
      }

      &:nth-child(3) {
        animation-delay: $delay * 3s;
      }

      &:nth-child(4) {
        animation-delay: $delay * 4s;
      }

      &:nth-child(5) {
        animation-delay: $delay * 5s;
      }
    }

    @keyframes drop-down {
      0% {
        opacity: 0;
        transform: translateY(-400%);
      }

      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }


  .lang {
    svg {
      height: 2.865vw;
      width: 2.865vw;
      cursor: pointer;
    }
  }
}