.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  padding:  2.865vw  3.385vw 0;

  mix-blend-mode: difference;

  .logo {
    svg {
      width: 2.656vw;
      height: 4.167vw;
      cursor: pointer;
    }
  }

  nav {
    display: flex;
    gap: 3.542vw;

    a {
      color: var(--White, #EEEAE4);
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }


  .lang {
    svg {
      height: 2.865vw;
      width: 2.865vw;
      cursor: pointer;
    }
  }
}