@import '@/styles/values';


.time-info-section {
  display: flex;
  flex-direction: column;
  gap: 2.604vw;
  padding: 0 3.073vw 15.052vw;
  background-color: $black;

  .info-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.156vw solid $grey;
    padding-bottom: 2.604vw;

    .title {
      h3 {
        color: $white;
        font-family: Unbounded, sans-serif;
        font-size: 4.427vw;
        font-style: normal;
        font-weight: 600;
        line-height: 107.93%; /* 91.74px */
      }
    }

    .description {
      cursor: pointer;

      p {
        color: $white;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 1.771vw;
        font-style: normal;
        font-weight: 500;
        line-height: 141%; /* 47.94px */
      }
    }
  }

  .time-info-container {
    display: flex;
    height: 36.094vw;
    gap: 3.177vw;

    .card {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 1.302vw 1.06vw 1.302vw 1.406vw;
      border-radius: 0 0 3.125vw 3.125vw;


      .top {
        padding: 0 1vw 0 0;
        display: flex;
        justify-content: space-between;

        .title {
          width: fit-content;

          h4 {
            color: $black;
            font-family: Unbounded, sans-serif;
            font-size: 1.223vw;
            font-style: normal;
            font-weight: 600;
          }
        }

        .count {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: -0.16vw;
            right: -1.02vw;
            display: flex;
            width: 3.424vw;
            height: 1.719vw;

            border: 0.082vw solid var(--Black, #0A0A0A);
          }

          &::after {
            content: "";
            position: absolute;
            top: -0.42vw;
            right: -1.32vw;
            display: flex;
            width: 3.424vw;
            height: 1.719vw;

            border: 0.082vw solid var(--Black, #0A0A0A);
          }

          span {
            color: black;
            font-family: Unbounded, sans-serif;
            font-size: 1.223vw;
            font-style: normal;
            font-weight: 600;
          }
        }
      }

      .center {
        position: relative;
        margin: auto;

        p {
          position: relative;
          color: $black;
          font-family: Unbounded, sans-serif;
          font-size: 5vw;
          font-style: normal;
          font-weight: 600;
          line-height: 107.93%; /* 103.613px */
          z-index: 99;

          span {
            font-family: Unbounded, sans-serif;
            color: $black;
            font-size: 1.563vw;
          }
        }

        svg {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 15.038vw;

          transform: translate(-50%, -50%);

          z-index: 0;
        }
      }


      width: 30%;
      transition: .3s;
    }

    .respond-within {
      border-radius: 0 0 3.125vw 3.125vw;
      background: $white;
      border-bottom: 0 solid $white;

      .top {
        .count {
          span {
            color: black;
            font-family: Unbounded, sans-serif;
            font-size: 1.223vw;
            font-style: normal;
            font-weight: 600;
            margin-right: 0.3vw;
          }
        }
      }

      &:hover {
        border-bottom: 1.51vw solid $primary;
      }
    }

    .make-an-offer{
      background: $white;
      border-bottom: 0 solid $white;

      &:hover {
        border-bottom: 1.51vw solid $primary;
      }
    }

    .project-realization{
      background: $primary;
      border-bottom: 0 solid $white;

      &:hover {
        border-bottom: 1.51vw solid $white;
      }
      .top {
        .count {
          &::before {
            border: 0.082vw solid $white;
          }

          &::after {
            background-color: $white;
            border: 0.082vw solid $white;
          }

          span {
            position: relative;
            z-index: 1;
            color: black;
            font-family: Unbounded, sans-serif;
            font-size: 1.223vw;
            font-style: normal;
            font-weight: 600;
          }
        }
      }

      .center {
        p {
          color: $white;

          span {
            color: $white;
          }
        }
        svg {
          top: 20%;
        }

        svg {
          width: 25.038vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .time-info-section {
    padding: 0 0 37.659vw;

    .info-container {
      border-bottom: 0.156vw solid $grey;
      padding: 0 $mob-side-padding 8.397vw;
      gap: 6.361vw;

      flex-direction: column;

      .title {
        h3 {
          font-size: 9.415vw;
        }
      }

      .description {
        p {
          font-size: 4.58vw;
        }
      }
    }

    .time-info-container {
      padding: 8.397vw $mob-side-padding 0;
      height: auto;
      flex-direction: column;
      gap: 4.326vw;

      .card {
        padding: 4.58vw 5.71vw 4.58vw 4.071vw;
        border-radius: 0 0 14.294vw 14.294vw;
        width: 100%;
        height: 105.26vw;
        flex: unset;

        .top {
          padding: 0 1vw 0 0;

          .title {
            h4 {
              font-size: 4.835vw;
            }
          }

          .count {
            &::before {
              top: -1.36vw;
              right: -5.02vw;
              width: 11.944vw;
              height: 5.688vw;

              border: 0.082vw solid var(--Black, #0A0A0A);
            }

            &::after {
              top: -0.42vw;
              right: -3.32vw;
              display: flex;
              width: 11.944vw;
              height: 5.688vw;

              border: 0.082vw solid var(--Black, #0A0A0A);
            }

            span {
              font-size: 3.912vw;
            }
          }
        }

        .center {
          p {
            font-size: 13.341vw;
            span {
              font-size: 7.147vw;
            }
          }

          svg {
            width: 43.809vw;
          }
        }
      }

      .respond-within {
        &:hover {
          border-bottom: 5vw solid $primary;
        }
      }

      .make-an-offer{
        &:hover {
          border-bottom: 5vw solid $primary;
        }
      }

      .project-realization{
        &:hover {
          border-bottom: 5vw solid $white;
        }
        .top {
          .count {
            &::before {
              border: 0.082vw solid $white;
            }

            &::after {
              background-color: $white;
              border: 0.082vw solid $white;
            }

            span {
              z-index: 1;
              color: $black;
              font-family: Unbounded, sans-serif;
              font-size: 3.912vw;
            }
          }
        }

        .center {
          svg {
            width: 50vw;
          }
        }
      }
    }
  }
}