@import '../../styles/values.scss';

.site-variations {
  padding: 0 3.542vw 0 3.542vw;
  background-color: $black;
  min-height: 30.344vw;

  .site-variation-container {
    display: flex;

    .site-variation-column {
      display: flex;
      flex-direction: column;

      .site-variation-element {
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        opacity: 0;

        span {
          color: $white;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 1.563vw;
          font-style: normal;
          font-weight: 600;
          line-height: 185%; /* 55.5px */
          text-transform: uppercase;

          transition: .3s;
          white-space: nowrap;
        }

        @keyframes fade-out {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0%;

          transform: translate(-100%, -50%);
          width: 1.563vw;
          height: 0.677vw;

          transition: .3s;
          background-image: url('/frant-landing/images/svg/arror-variation.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:hover {
          span {
            margin-left: 2.083vw;
            color: $primary;
          }

          &::before {
            transform: translate(0, -50%);
          }
        }
      }

      &:first-child  {
        width: 27.5vw;
      }

      &:nth-child(2) {
        margin-right: auto;
      }

      &:nth-child(3) {
        width: 29.9vw;
        margin-right: 3vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .site-variations {
    padding: 0 $mob-side-padding 33vw;
    min-height: 181.17vw;

    .site-variation-container {
      flex-direction: column;

      .site-variation-column {

        .site-variation-element {
          span {
            font-size: 4.853vw;
          }
        }

        &:first-child  {
          width: 100%;

          margin-bottom: 7.634vw;
        }

        &:nth-child(2) {
          margin-right: initial;

          margin-bottom: 22.901vw;
        }

        &:nth-child(3) {
          width: 100%;
          margin-right: initial;
        }
      }
    }
  }
}