@import "src/styles/values";

$delay: 0.2;

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  padding:  2.083vw 2.083vw 0;

  mix-blend-mode: difference;
  transition: .3s;

  &--hide {
    transform: translateY(-100%);
  }

  .logo {
    svg {
      width: 2.656vw;
      height: 4.167vw;
      cursor: pointer;
    }
  }

  nav {
    display: flex;

    ul {
      display: flex;
      gap: 3.542vw;

      li {
        a {
          color: $white;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 1.25vw;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          transition: .3s;

          &:hover {
            color: $primary;
          }
        }

        transform: translateY(-400%);
        animation: drop-down 0.8s forwards;
        cursor: pointer;

        &:first-child {
          animation-delay: $delay;
        }

        &:nth-child(2) {
          animation-delay: $delay * 2s;
        }

        &:nth-child(3) {
          animation-delay: $delay * 3s;
        }

        &:nth-child(4) {
          animation-delay: $delay * 4s;
        }

        &:nth-child(5) {
          animation-delay: $delay * 5s;
        }

        @keyframes drop-down {
          0% {
            opacity: 0;
            transform: translateY(-400%);
          }

          100% {
            opacity: 1;
            transform: translateY(0%);
          }
        }
      }
    }
  }

  .lang {
    svg {
      height: 2.865vw;
      width: 2.865vw;
      cursor: pointer;
    }
  }

  .burger-menu-icon {
    display: none;
  }

  .links {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

@media(max-width: 768px) {
  .header {
    padding:  6.616vw 7.634vw 0;
    z-index:11;
    justify-content: space-between;
    transition: 0s;

    nav {
      display: none;
    }

    .lang {
      position: relative;
      opacity: 0;
      visibility: hidden;
    }

    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      transition: .3s;
    }

    &--hide {
      transform: translateY(0);

      .logo {
        transform: translateY(-400%) !important;
      }

      .burger-menu-icon {
        transform: translateY(-400%) !important;
      }
    }

    &--show {
      height: 100%;
      mix-blend-mode: initial;
      z-index: 99999999;

      &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        z-index: -1;

        transform: translateY(400%);
        animation: from-down 0.4s forwards;

        @keyframes from-down {
          0% {
            transform: translateY(400%);
          }

          100% {
            transform: translateX(0%);
          }
        }
      }

      nav {
        display: flex;
        opacity: 1;
        visibility: initial;

        position: absolute;
        top: 40%;

        transform: translateY(-50%);

        ul {
          flex-direction: column;
          gap: 12.214vw;

          li {
            a {
              font-size: 6.107vw;
            }

            transform: translateX(-400%);
            animation: from-left 0.8s forwards;

            @keyframes from-left {
              0% {
                opacity: 0;
                transform: translateX(-400%);
              }

              100% {
                opacity: 1;
                transform: translateX(0%);
              }
            }
          }
        }
      }

      .lang {
        opacity: 1;
        visibility: initial;

        position: absolute;
        bottom: 9.616vw;
        right: 7.634vw;

        svg {
          width: 9.399vw;
          height: 9.388vw;
        }

        transform: translateX(200%);
        animation: fromLeft 0.4s 0.5s ease-out forwards;

        @keyframes fromLeft {
          0% {
            opacity: 0;
            transform: translateX(200%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }
      }

      .links {
        opacity: 1;
        visibility: initial;
        position: absolute;
        z-index: 9;
        transition: .3s;

        display: flex;
        flex-direction: column;
        gap: 2.545vw;


        bottom: 9.616vw;
        left: 7.634vw;

        div {
          overflow: hidden;

          &:nth-child(2) {
            a {
              animation-delay: 0.8s;
            }
          }

          &:last-child {
            a {
              animation-delay: 1.3s;
            }
          }
        }

        a {
          display: inline-block;

          color: $white;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 4.071vw;
          font-style: normal;
          font-weight: 700;
          line-height: 185%; /* 29.6px */
          text-transform: lowercase;

          overflow: hidden;

          transform: translateY(100%);
          animation: fromDown 0.4s 0.5s ease-out forwards;
        }

        @keyframes fromDown {
          0% {
            transform: translateY(400%);
          }
          100% {
            transform: translateY(0%);
          }
        }
      }
    }

    &--loading {
      z-index: 9999999999999;
      mix-blend-mode: initial;

      &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        z-index: -1;

        transform: translateY(400%);
        animation: from-down 0.4s forwards, from-down 0.4s 1s forwards reverse;

        @keyframes from-down {
          0% {
            transform: translateX(400%);
          }

          100% {
            transform: translateX(0%);
          }
        }
      }

      .burger-menu-icon {
        transition: .3s;
        transform: translateY(-400%);
      }

      .logo {
        animation: back-logo 0.5s 1s forwards;

        @keyframes back-logo {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    .logo {
      position: absolute;
      top: 6.616vw;
      left: 6.616vw;

      transform: translate(0, 0);
      transition: .3s;

      svg {
        width: 10.433vw;
        height: 16.539vw;
      }
    }

    .burger-menu-icon {
      display: flex;
      width: 66px;
      height: 34px;

      position: absolute;
      top: 9.616vw;
      right: 7.634vw;

      transition: .3s;

      svg {
        top: 0;
        right: 0;
        position: absolute;

        transition: .5s;
      }

      svg:first-child {
        width: 16.794vw;
      }

      svg:last-child {
        width: 66px;
        height: 34px;

        transform: translateY(-400%);
      }

      &.active {
        svg:first-child {
          transform: translateY(-400%);
        }

        svg:last-child {
          transform: translateY(0%);
        }
      }

      cursor: pointer;
    }
  }
}