@import "../../../styles/values";

.banner-section {
  position: relative;
  height: 100vh;
  width: 100%;

  .video {
    height: 100%;
    width: 100%;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      controls: none;
    }
  }

  .links {
    position: absolute;
    left: 2.083vw;
    bottom: 2.083vw;

    display: flex;
    align-items: flex-end;
    gap: 20px;

    a {
      color: $white;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.042vw;
      font-style: normal;
      font-weight: 700;
      line-height: 185%;

      transition: .3s;
      cursor: pointer;
    }

    .soc {
      display: flex;
      flex-direction: column;
      gap: 0.521vw;

      a {
        &:first-child:hover {
          color: #0A66C2;
        }

        &:last-child:hover {
          color: #1769FF;
        }
      }
    }

    > a:last-child:hover {
      color: $primary;
    }
  }
}


@media(max-width: 768px) {
  .banner-section {

    .links {
      display: none;
    }
  }
}